<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEP e Hora</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container mt-2">
        <form id="formcep">
            <div class="row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="cep" id="cep">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn-success btn">
                        <i class="fas fa-check mr-1"></i>Enviar
                    </button>
                </div>
                <br>
            </div>
        </form>
        <div>
            <br>
            <span class="hora">{{dia}}<br>{{hora}}</span>
            <br>
            <br>
            <p id="dados-cep"></p>
        </div>

        <div class="text-right">
            <button type="button" class="btn btn-success mb-2 mr-3" data-toggle="modal" data-target="#user-add-modal"
                id="add-user">Add User</button>
        </div>

        <div class="table-responsive">
            <table id="users-table" class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>E-mail</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="user-detail-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="user-detail-modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="user-detail-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="user-add-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="form-user">
                    <div class="modal-header bg-primary text-white">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="user-add-modal-body">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Name</label>
                            <input type="text" class="form-control" name="name" id="form-user-name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">E-mail</label>
                            <input type="text" class="form-control" name="email" id="form-user-email" placeholder="Your E-mail">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Username</label>
                            <input type="text" class="form-control" name="username" id="form-user-username" placeholder="Your Username">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Phone</label>
                            <input type="text" class="form-control" name="phone" id="form-user-phone" placeholder="Your Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Website (Optional)</label>
                            <input type="text" class="form-control" name="website" id="form-user-website" placeholder="Your Website">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="company-add-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="form-company">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="add-company-modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="company-add-modal-body">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Name</label>
                            <input type="text" class="form-control" name="name" id="form-company-name" placeholder="Company Name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">BS</label>
                            <input type="text" class="form-control" name="bs" id="form-company-bs" placeholder="Company BS (Optional)">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Catch Phrase</label>
                            <input type="text" class="form-control" name="catch_phrase" id="form-company-catch_phrase" placeholder="Catch Phrase (Optional)">
                        </div>
                    </div>
                    <div class="modal-footer " id="footer-modal-company"></div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="address-add-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="form-address">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="add-address-modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="address-add-modal-body">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Street</label>
                            <input type="text" class="form-control" name="street" id="form-address-street" placeholder="Street Name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Zipcode</label>
                            <input type="text" class="form-control" name="zipcode" id="form-address-zipcode" placeholder="Zipcode">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Suite</label>
                            <input type="text" class="form-control" name="suite" id="form-address-suite" placeholder="Suite (Optional)">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Latitude</label>
                            <input type="text" class="form-control" name="lat" id="form-address-lat" placeholder="Latitude (Optional)">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Longitude</label>
                            <input type="text" class="form-control" name="lng" id="form-address-lng" placeholder="Longitude (Optional)">
                        </div>
                    </div>
                    <div class="modal-footer " id="footer-modal-address"></div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="user-edit-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="form-edit">
                    <div class="modal-header bg-success text-white">
                        <h5 class="modal-title" id="user-edit-modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="user-edit-modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Edit User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="/js/libs/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
</body>

</html>